main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

.main-title {
    font-size: 5rem;
    display: flex;
    text-align: center;
}

.main-image {
   width: 20vw;
}
