@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.header__loading{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vh;
    margin-top: 7vh;
}

.header__loading img {
    width: 20vh;
}

.header__loading span {
    animation: blinker 2s linear infinite;;
}
