/* @media (min-width: 300px) {
    #portal {
        width: 8vh;
    }

    .list-element {
        font-size: 12pt;
        margin: 0 1vh 0 1vh;
    }
} */

.header {
    display: flex;
    height: 20vh;
    margin: 5vh 5vw;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
}

.portal {
    height: 20rem;
}

.portal-animated {
    position: relative;
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

.portal:hover {
    transform: translateY(-0.3rem);
}

.portal:active {
    transform: translateY(-0.1rem);
}

.navbar {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
	margin: 50px 0 0 0;
	li {
		list-style: none;
		color: white;
		padding: 12px 16px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			&:hover {
				&::before {
					background: linear-gradient(to bottom, rgba(143,199,72), rgba(144, 199, 72, 0.171));
					transform: scale(1.1);
				}
				color: rgba(143,199,72);
		}
	}
}

.navbar a{
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

